services:
  db:
    image: postgres:16
    container_name: petshop_db
    environment:
      POSTGRES_DB: petshop_dev
      POSTGRES_USER: petshop
      POSTGRES_PASSWORD: petshop
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
